
<h1>Admin</h1>
<h3>Users</h3>
<table class="table">
	<tr>
	<th>Name</th>
	<th>Email</th>
	<th>Phone</th>
	<th>Admin Role</th>
  <th>Add / Remove Admin</th>
  <th>Delete User</th>
	<th></th>
	</tr>

  <% @users.each do |user| %>
  	<tr>
  		<td><%= link_to user.profile.fullname, profile_path(user.profile) %></td>
  		<td> <%= user.email %></td>
  		<td> <%= user.profile.phone %></td>
      <td><% if(user.has_role? :admin)%>
  					Yes</td>  <td> <%= link_to 'Remove Role', remove_admin_path(:user_id => user.id), class:"btn btn-primary btn-large" %> </td> 
  				<% else %>
  					<td><%= link_to 'Create Role', add_admin_path(:user_id => user.id), class:"btn btn-primary btn-large" %> </td>
  				<% end %>
  		
  		
      <% if user != current_user %>
      <td><%= link_to 'Delete User', delete_user_path(:user_id => user.id), method: :delete, class:"btn btn-primary btn-large" %> </td>
      <%else %>
      <td><%= link_to 'Edit User', edit_user_registration_path(:user_id => user.id), class:"btn btn-primary btn-large" %> </td>
      <%end %>


  	</tr> 
  <% end %>
  <tr></tr>
  </table>
                  
